.tvchart-title-wrapper {
  display: flex;
  align-items: center;
}

.tvchart-button {
  cursor: pointer;
  pointer-events: initial;
}

.loading-icon {
  height: 26px;
  width: 26px
}

#tvchart-overlay { 
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0,0,0,0.5);;
}

#tvchart-frame {
  height: 90%;
  max-height: 700px;
  width: 90%;
  max-width: 1400px;
  border-radius: 5px;
}

@keyframes pop-toast {
  0% {
    bottom: 0px;
    opacity: 0;
  }
  10% {
    bottom: 10px;
    opacity: 1;
  }
  90% {
    bottom: 10px;
    opacity: 1;
  }
  100% {
    bottom: 0px;
    opacity: 0;
  }
}

.tvchart-toast {
  padding: 1rem;
  max-width: 350px;
  background-color: #343a40;
  color: white;
  border-radius: 3px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Segoe UI";
  font-size: 20px;
  animation-name: pop-toast;
  animation-duration: 3s;
}